<div *ngIf="form">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">

    <div *ngFor="let formItem of formItems" class="form-row">
      <app-form-item [formItem]="formItem" [form]="form"></app-form-item>
    </div>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Save</button>
    </div>
  </form>
</div>
